/* Google Fonts'tan EB Garamond fontunu dahil etme */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/* Tüm sayfa için font-family */
body, h1, h2, p, nav a, footer p, .navbar-title{
    font-family: 'EB Garamond', serif; /* Garamond yazı tipi */
}

/* Navbar Stilleri */
nav {
    background-color: rgb(18, 15, 15); /* Yarı şeffaf arka plan ,0.7 */
    position: fixed; /* Sabit navbar */
    top: 0;
    left: 0;
    width: 100%; /* Tam genişlik */
    padding: 5px 0; /* Üst ve alt padding'i küçültüyoruz */
    z-index: 1000; /* Diğer içeriklerin üzerinde görünmesini sağlamak */
}

/* Navbar İçeriği */
nav table {
    width: 100%;
    margin: 0 auto;
}

/* Navbar Bağlantıları */
nav a {
    color: white; /* Bağlantı metni beyaz */
    font-size: 18px; /* Yazı boyutu */
    font-family: 'EB Garamond', serif;
    padding: 10px 20px;
    text-decoration: none; /* Alt çizgi kaldırıldı */
    display: inline-block; /* Yatay hizalama */
    transition: all 0.3s ease; /* Geçiş animasyonu */
}

/* Navbar Bağlantı Linklerine Hover Efekti */
nav a:hover {
    background-color: grey; /* Hover rengi */
    transform: scale(1.2); /* Hover efekti ile büyüme */
    border-radius: 12px; /* Kenarları yuvarlatma */
}

/* Navbar logo */
nav img {
    width: 70px;
    height: auto;
    margin-left: 10px;
}
/* Navbar logo baslıgı */
.navbar-title {
    white-space: nowrap; /* Yazının alt alta gelmesini engeller */
    display: inline-block; /* Gerekirse inline eleman gibi davranmasını sağlar */

}

/* Sayfa temel stil ayarları */
body {
    margin: 0;
   
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 100px; /* Navbar ile içerik üst üste binmesin */
}

/* Galeri Konteyneri */
.gallery-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin-top: 70px; /* Navbar ile uyum sağlamak için */
    margin-bottom: 60px; /* Footer ile uyum sağlamak için */
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Görsel konteyner */
.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease;
}

/* Önceki ve sonraki butonlar */
button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 28px;
    z-index: 10;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateY(-50%) scale(1.2);
}

.prev {
    left: -60px;
}

.next {
    right: -60px;
}


/* Footer Stilleri */
footer {
    background-color: rgba(18,15,15); /* Yarı şeffaf arka plan */
    color: white; /* Yazı rengi beyaz */
    font-family: 'EB Garamond', serif; /* Font tipi */
    font-size: 1.2em; /* Yazı boyutu */
    padding: 20px 0; /* Yatay ve dikey padding footer buyuklugu*/
    text-align: center; /* Yazıyı ortalar */
    margin-top:200px; /* İçerikten sonra boşluk bırakır */
    width: 100%; /* Tam genişlik */
}


/* Footer'ı daha belirgin hale getirmek için */
footer p {
    margin: 0;
    padding: 5px 0;
}